{% if pagination.pages > 0 %}
    <div class="container">
    <div class="row">
        <div class="col">
          <nav class="d-inline-block">
            <ul class="pagination">
                {% if pagination.previous %}
              <li class="page-item active">               
                    <a href="{{pagination.previous.url}}" class="page-link">{{ pagination.previous.title }}</a>                          
              </li>
            {% endif %}           
             
              {% if pagination.next %}<li class="page-item">
                <a href="{{pagination.next.url}}" class="page-link">{{ pagination.next.title }}</a>
                </li>
            {% endif %}
            </ul>
          </nav>
        </div>
      </div>
      </div>      
        
    
  {% endif %}

