{% paginate collection.products by section.settings.number_of_products_per_page %}
  <section class="hero bg-light">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="text-3xl text-center">{{ collection.title }}</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-0 bg-light">
    <div class="container">
      <!-- Filter section start -->
      <div class="row align-items-center">
        <div class="col-5 col-sm-5 col-md-6">
          <span>15 Products</span>
        </div>
        <div class="col-7 col-sm-7 col-md-6">
          <div class="btn-group d-flex justify-content-end align-items-center">
            <div class="dropdown mx-3">
              <a
                class="btn btn-outline-secondary rounded-0 dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                What's New
              </a>

              <ul class="dropdown-menu rounded-0">
                <li>
                  <a class="dropdown-item" href="#">Price high to low</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Price low to hight</a>
                </li>
              </ul>
            </div>
            <span>Filter</span>
          </div>
        </div>
      </div>
      <!-- Filter section end -->
      <!-- product list start -->
      <div class="row">

        {% for product in collection.products %}
          {% render 'product-card'
            , product_product: product %}
        {% else %}
          <p>There are no products inside of this collection</p>
        {% endfor %}
      </div>
    <!-- product list end -->


    </div>
  </section>


  {% render 'pagination'
    , pagination: paginate %}
{% endpaginate %}


{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "type": "number",
        "id": "number_of_products_per_page",
        "default": 6,
        "label": "Number of products per page"
      }
    ]
  }
{% endschema %}