<section class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>
          {{ section.settings.title }}</h1>
        <h3>
          {% if section.settings.button_url == blank %}
            {% assign shop_url = shop.secure_url %}
          {% else %}
            {% assign shop_url = section.settings.button_url %}
          {% endif %}
        </h3>
        <a href="{{ shop_url }}" class="btn btn-dark">{{ section.settings.button_label }}</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Template 404",
    "tag": "section",
    "class": "flex items-center justify-center text-center py-7 h-screen",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "404",
        "label": "404 Heading Title"
      }, {
        "type": "text",
        "id": "subtext_title",
        "default": "The page that you're looking for is not found",
        "label": "404 Subtext Title"
      }, {
        "type": "text",
        "id": "button_label",
        "default": "Back to homepage",
        "label": "Button Label"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }
    ]
  }
{% endschema %}