<section class="hero">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Your Cart</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-0">
      <div class="container">
        <div class="row mb-1 d-none d-lg-flex">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-6">
                  <span class="section__title">Product</span>
                </div>
                <div class="col-lg-2 text-center">
                  <span class="section__title">Price</span>
                </div>
                <div class="col-lg-2 text-center">
                  <span class="section__title">Quantity</span>
                </div>
                <div class="col-lg-2 text-center">
                  <span class="section__title">Total</span>
                </div>
              </div>
            </div>
          </div>
      </div>


      <div class="row gutter-2 gutter-lg-4 justify-content-end">
        <div class="col-lg-8 cart__list">
            cart list
        </div>

      </div>
      <div class="col-lg-4">
        cart total
    </div>
      
</section>